.card_main_div{
    margin: auto;
width: 80%;
height: 50vh;
display: flex;
justify-content: space-evenly;
margin-top: 3rem;
align-items: center;
}
.card_main_div div{
    width: 40%;
    overflow: hidden;
}
body{
    background-color: rgba(23,223,255,0.7404003837863271) ;
}
.cardone_image img{
    width: 100%;
}
.cardone_image img{
   animation:whiteshoe 5s linear infinite   ;
    transition: 0.5s ease-in-out;
    margin-top: 1rem;
  
}
@keyframes whiteshoe{

   50%{
    transform:translateY(-0.5rem)rotate(10deg)scale(0.8)
    }
    
}
.card_detail{
    text-align: left;
    line-height: 1rem;
    padding-bottom: 1rem;
}
.card_detail :nth-child(1){
    font-size: 3rem;
color:  rgba(22, 72, 84, 0.911)
}
.card_detail :nth-child(2){
    font-size: 2rem;
color:  rgba(255, 255, 255, 0.911)
}
.card_detail :nth-child(3){
    font-size: 1.5rem;
color:  rgba(255, 255, 255, 0.911)
}
.card_detail :nth-child(4){
color:  rgb(20, 81, 138);
}
.card_detail button{
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 10px;
    border: none;
    color: rgb(199, 225, 230);
  transition: 0.5s ease-in-out;
}
.card_detail button:hover{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-color: rgba(0, 0, 0, 0.071);
    color: black;
}